html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

.svg-icon{
    width: 1.8em;
    height: 1.8em;
    // vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
#badgeicon {
    margin: 0 14px;
    .el-badge__content.is-fixed{
      top: 10px;
      right: 8px;
    }
  }